{{ define "content" }}
  <section class="metadata">
    <div>
      <strong>Ausstellungsort/Miejsce wystawienia</strong>
      <p>New York City</p>
    </div>

    <div>
      <strong>Ausstellungsdatum/Data wystawienia</strong>
      <p>31.05.2024</p>
    </div>

    <div>
      <strong>Verkaufsdatum/Data sprzedaży</strong>
      <p>31.05.2024</p>
    </div>
  </section>

  <div class="customers">
    <div class="customer seller">
      <h2>Verkäufer/Sprzedawca</h2>
      <p class="address">
      ACME Corp.<br/>
      42 Something Drive<br/>
      00000 New York City, NY
      </p>
    </div>

    <div class="customer buyer">
      <h2>Käufer/Nabywca</h2>
      <p class="address">
      XYZ Corp.<br/>
      Tokyo, Shibuya Ward,<br/> 42 Something Street
      </p>
    </div>
  </div>

  <header>
    <h1>Rechnung 01/05/2024</h1>
    <h2>Faktura 01/05/2024</h2>
  </header>
  
{{ end }}
