{{ define "customer" }}
<p class="address">
  {{ .Name }}<br/>
  {{ .Address1 }}<br/>
  {{ .Address2 }}
</p>
{{ end }}

{{ define "content" }}
  <section class="metadata">
    <div>
      <strong>Ausstellungsort/Miejsce wystawienia</strong>
      <p>New York City</p>
    </div>

    <div>
      <strong>Ausstellungsdatum/Data wystawienia</strong>
      <p>{{ .Invoice.DateOfIssue | format_date }}</p>
    </div>

    <div>
      <strong>Verkaufsdatum/Data sprzedaży</strong>
      <p>{{ .Invoice.DateOfSale | format_date }}</p>
    </div>
  </section>

  <div class="customers">
    <div class="customer seller">
      <h2>Verkäufer/Sprzedawca</h2>
      {{ template "customer" .Invoice.Seller }}
    </div>

    <div class="customer buyer">
      <h2>Käufer/Nabywca</h2>
      {{ template "customer" .Invoice.Buyer }}
    </div>
  </div>

  <header>
    <h1>Rechnung {{ .Invoice.InvoiceNo }}</h1>
    <h2>Faktura {{ .Invoice.InvoiceNo }}</h2>
  </header>
  
{{ end }}
